<!-- lib/open_chat_web/templates/chat/index.html.heex -->
<h1>Bienvenido al chat</h1>
<div id="chat-container">
  <ul id="message-list"></ul>
  <input id="message-input" type="text" placeholder="Escribe un mensaje" />
  <button id="send-button">Enviar</button>
</div>
