services:
  web:
    build: .
    command: mix phx.server --no-halt
    ports:
      - "4000:4000"
    volumes:
      - .:/app
    environment:
      - MIX_ENV=prod
    mem_limit: 1g  
    cpus: "1.0" 