<.flash_group flash={@flash} />
<!-- Popup de verificación de edad -->
<div
  id="age-verification"
  role="dialog"
  aria-label="Verificación de Edad"
  class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-80 z-50"
>
  <div class="bg-white p-4 sm:p-6 lg:p-10 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-2xl sm:text-3xl font-bold text-center text-gray-900 mb-6">
      Confirmación de Edad
    </h2>
    
    <p class="text-center text-gray-600 mb-4">
      Este sitio contiene contenido para adultos. Por favor, confirma que tienes al menos 18 años para continuar.
    </p>
    <!-- Botones de selección -->
    <div class="flex justify-center space-x-4">
      <button
        id="yes-button"
        class="w-full sm:w-auto px-4 sm:px-2 py-2 bg-green-600 text-white font-semibold rounded-lg shadow-lg hover:bg-green-500 focus:ring-2 focus:ring-green-400 active:bg-green-400 transition-all duration-200 text-sm sm:text-base"
      >
        Sí, tengo más de 18 años
      </button>
      <button
        id="no-button"
        class="w-full sm:w-auto px-4 sm:px-2 py-2 bg-red-600 text-white font-semibold rounded-lg shadow-lg hover:bg-red-500 focus:ring-2 focus:ring-red-400 active:bg-red-400 transition-all duration-200 text-sm sm:text-base"
      >
        No, salir
      </button>
    </div>
    <!-- Términos y Condiciones -->
    <div class="mt-4 text-center">
      <a href="#" class="text-sm text-gray-600 underline">Términos y Condiciones</a>
    </div>
  </div>
</div>
<!-- Sección de bienvenida -->
<div
  id="welcome-section"
  class="hidden flex flex-col justify-center items-center h-screen bg-gradient-to-b from-purple-700 to-black px-4 sm:px-6 lg:px-8"
>
  <div
    class="max-w-md lg:max-w-lg w-full bg-white p-4 sm:p-6 lg:p-10 rounded-lg shadow-lg"
    id="form-container"
  >
    <h1 class="text-3xl font-bold text-center mb-6 text-gray-900">Bienvenidos al Chat Swinger</h1>
    
    <p class="text-center text-gray-600 mb-6 text-base">
      Únete a nuestra comunidad anónima donde parejas y personas afines pueden conectar y compartir experiencias.
    </p>
    <!-- Formulario para ingresar username temporal y estado -->
    <form id="join-form" phx-submit="join_chat" phx-hook="JoinChat" class="space-y-4">
      <!-- Nombre de usuario -->
      <div>
        <label for="username" class="block text-sm font-medium text-gray-700">
          Nombre de Usuario
        </label>
        <input
          type="text"
          id="username"
          name="username"
          class="block w-full border border-gray-300 rounded-lg px-4 py-2 shadow-sm focus:ring-purple-500 focus:border-purple-500"
          placeholder="Elige un nombre de usuario..."
          required
        />
      </div>
     <!-- Selección de estado -->
    <div class="relative" id="custom-select-container">
      <label for="state" class="block text-sm font-medium text-gray-700">Ubicación</label>
      <div
        id="custom-select"
        class="block w-full border border-gray-300 rounded-lg px-4 py-2 bg-white shadow-sm focus:ring-purple-500 focus:border-purple-500 cursor-pointer"
      >
        Selecciona tu estado
      </div>      
      <!-- Contenedor para las opciones -->
      <div
        id="custom-options"
        class="absolute z-50 w-full bg-white border border-gray-300 rounded-lg mt-1 hidden max-h-60 overflow-y-auto shadow-lg"
      >
        <!-- Las opciones se agregarán aquí dinámicamente -->
      </div>
      <!-- Campo oculto para almacenar el valor seleccionado --> 
      <input type="hidden" id="state" name="state" required />
    </div>

      <!-- Botón para unirse al chat -->
      <div>
        <button
          type="submit"
          class="w-full px-4 py-2 bg-purple-700 text-white font-semibold rounded-lg shadow-lg hover:bg-purple-600 transition-all duration-200 text-base"
        >
          Entrar al Chat
        </button>
      </div>
    </form>
  </div>
</div>




<!-- Contenedor del chat que se muestra después de unirse -->
<div
  id="chat-container"
  class="hidden chat-container relative left-0 top-0 w-full h-full bg-gradient-to-b from-purple-700 to-black z-0"
>
  <div class="relative z-10 px-2 py-4 sm:px-4 sm:py-6 lg:px-8 xl:px-28 xl:py-32 flex justify-center items-center h-full min-h-screen">
    <div class="chat-box w-full max-w-3xl bg-white p-4 sm:p-6 rounded-lg shadow-xl h-full sm:h-full">
      <div class="chat-header mb-2 sm:mb-4 text-center">
        <h1
          id="chat-room-title"
          class="text-2xl sm:text-3xl font-bold text-purple-700 mb-2 sm:mb-4"
        >
          Chat Anónimo
        </h1>
        <!-- Número de usuarios activos -->
        <div class="bg-purple-100 text-purple-700 rounded-full px-3 py-1 inline-block text-base sm:text-lg font-semibold">
          <p id="active-users" class="text-center">
            Usuarios en línea: <span id="active-users-count">0</span>
          </p>
        </div>
      </div>
      
      <div
        id="messages"
        class="chat-messages min-h-[200px] sm:min-h-[400px] max-h-[60vh] sm:max-h-[50vh] overflow-y-auto border border-gray-200 rounded-lg p-2 sm:p-4 bg-gray-50 shadow-inner"
      >
      </div>
      
      <div class="chat-input mt-4 sm:mt-6">
        <form id="chat-form" class="flex items-center space-x-2 sm:space-x-4">
          <!-- Botón para abrir el selector de emojis -->
          <button
            type="button"
            id="emoji-button"
            class="px-2 py-2 sm:px-3 bg-gray-200 rounded-lg hover:bg-gray-300 focus:outline-none"
          >
            🔥
          </button>
          <!-- Campo de entrada para mensajes -->
          <input
            type="text"
            id="chat-input"
            class="flex-grow border border-gray-300 rounded-lg px-2 sm:px-4 py-2 shadow-sm focus:ring-purple-500 focus:border-purple-500"
            placeholder="Comparte tus pensamientos..."
          />
          <!-- Botón para enviar el mensaje -->
          <button
            type="submit"
            class="px-4 sm:px-6 py-2 sm:py-3 bg-purple-700 text-white font-semibold rounded-lg shadow-lg hover:bg-purple-600 transition-all duration-200"
          >
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
